@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #090e16;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7b4ae2;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.video-container__video-card-container::-webkit-scrollbar {
  display: none;
}

.testimonial-section__cards-container::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  font-size: 62.5%;
}
body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-rgb);
  font-size: 1.6rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: #090e16;
  }
}
@media only screen and (max-width: 900px) {
  :root {
    font-size: 58%;
  }
}
@media only screen and (max-width: 700px) {
  :root {
    font-size: 54%;
  }
}
@media only screen and (max-width: 500px) {
  :root {
    font-size: 50%;
  }
}

/* styles for the three options switch */
.toggle-container {
  /* border: 1px solid #7b4ae2; */
  padding: 0rem 1.5rem;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.8rem;
  cursor: pointer;
  min-height: 5rem;
}
.toggle-container label {
  cursor: pointer;
}
.toggle-container::before {
  content: "";
  height: 100%;
  width: 33%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  cursor: pointer;
  z-index: -1;
  border-radius: 0.8rem;
  transition: 0.5s all ease;
  border: 0.1rem solid #7b4ae2;
}

.toggle-container input {
  display: none;
}
.toggle-container :not(:last-child) {
  margin-right: 2rem;
}

.toggle-container:has(#i1:checked)::before {
  left: 1.5%;
  background-color: #14142a;
}

.toggle-container:has(#i2:checked)::before {
  left: 33.5%;
  width: 33%;
  background-color: #14142a;
}
.toggle-container:has(#i3:checked)::before {
  left: 65.8%;
  width: 33%;
  background-color: #14142a;
}

/* styles for the scroll animation */
.slide-in {
  transform: translateX(0);
  opacity: 1;
}
.slide-up {
  transform: translateY(0);
  opacity: 1;
}
.slide-down {
  transform: translateY(0);
  opacity: 1;
}
.opacity-back {
  opacity: 1;
}
.scale-up {
  transform: scale(1);
  opacity: 1;
}
